<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <span class="navbar-brand">Marco Venuti</span>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for item in site.data.navigation %}

        <li class="nav-item">
          <a class="nav-link {% if page.url == item.url %} active{% endif %}" href="{{ item.url | prepend:site.baseurl }}">{{ item.name }}{% if page.url == item.url %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
